---
import { getPlugins } from "../../components/in_plugins.js";

import Layout from "../../layouts/Layout.astro";

import { AstroError } from 'astro/errors';

export async function getStaticPaths() {
  const plugins = await getPlugins();
  return plugins.map(plugin => ({
    params: { slug: plugin.namespace },
  }));
}

const { slug } = Astro.params;
const plugins = await getPlugins();
const plugin = plugins.find(p => p.namespace === slug);

if (!plugin) {
  throw new AstroError(`Plugin not found: ${slug}`);
}
---

<Layout>
    <h1>{plugin.name}</h1>
    <p>{plugin.description}</p>
    <a href=`${plugin.link}`>Source</a>
    <!-- Add Author, License idk, Docs when available -->

    <!-- Maybe add the Readme here ??? -->
    <hr>
    <h3>More Versions</h3>
    {plugin.other_versions.map((version) => (
      <h4>{version.version}</h4>
      <a href=`${version.link}`>Source</a>
      // add available for here too
    ))}
</Layout>
